@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-slate-900 bg-white dark:bg-slate-900 dark:text-slate-100 transition-colors duration-300;
  }
}